body {
    background:linear-gradient(#ed1d0e,#e60eed);
    height: 800px;
}
.login_div1 , .login_div2
{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
}


#player1_name , #player2_name
{
display: inline-block;
margin-left: 20px;
}

#heading {
color: aqua;
}
button {
  width: 150px;
  background-color: blue;
  color: aliceblue;
}

